 .site {
    background-image:
        linear-gradient(
            to bottom,
            rgba(224, 234, 245, 0.2),
            transparent 25%
        ),
        linear-gradient(
            to top,
            rgba(252, 247, 247, 0.8),
            transparent 25%
        ),
        url("../../assets/image/Fundo.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  
} 